html {
   color: black;
   background-color: #FEF2DA;
   font-family: Georgia, serif;
}

a {
   color: #835E9F;
   text-decoration: none;
   text-shadow: 1px 1px #1A1F19
}

a:hover {
   color: #B54250;
   text-decoration: underline;
}

.menu {
   font-family: Georgia, serif;
   font-weight: bold;
   padding: 5vh 0;
   margin: 0 5vh;
   list-style-type: none;
   display: flex;
   justify-content: space-evenly;
   align-items: center;
   font-size: 150%;
}

.logo {
   max-width: 25vw;
}

.menu-button {
   text-shadow: 1px 1px #1A1F19;
   color: #835E9F
}

.menu-button-content {
   display: none;
   position: absolute;

}

.portfolio-holder:hover .menu-button-content {
   display: flex;
   flex-direction: column;
   background-color: gray;
}

.image-container {
   position: relative;
}

.sloganimg {
   display: block;
   max-width: 70vw;
   margin-inline: auto;
}

.slogan {
   font-family: papyrus;
   color: white;
   position: absolute;
   text-align: center;
   top: 25px;
   right: 25vw;
   disply: block;
   font-size: 150%;
   font-weight: medium;
   text-shadow: 3px 3px #1A1F19;

}

.bio {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   text-align: center;
   margin-top: 15vh;
   min-height: 30vh;
   padding-inline: 25vw;
   margin-bottom: 10vh;
   place-content: center;
   background-color: #BD9A7A;
}

.bio-title {
   align-content: end;

}

.bio-img {
   max-width: 30vw;
   grid-row-start: 1;
   grid-row-end: 3;
}

.slide-menu {
   display: flex;
   list-style-type: none;
   justify-content: space-around;
   align-items: center;
   background-color: #BD9A7A;
   font-weight: bold;
   position: relative;
}

.slide-container:hover img {
   opacity: 0.5;

}

.slide-container:hover div {
   opacity: 1;
}

.slide-title {
   position: absolute;
   top: 40%;
   font-size: 200%;
   color: white;
   opacity: 1;
   transition: 0.5s ease;
   padding-inline: 10%
}

.slide-title:hover {
   opacity: 1;

}

.slide-pic {
   float: down;
   max-width: 20vw;
   padding: 0;
   margin: 0;
   transition: .5s ease;
}

.book-detail {
   padding-inline: 40%;
}

.book-table {
   font-size: large;
   color: #835E9F;
   border: 1px #FEF2DA;
   border-radius: 10px;
   padding: 0 20%;
}

td {
   background-color:#BD9A7A 
}

#book-form {
   padding: 0 25%;
   border: 1px;
}

.foot-list {
   list-style-type: none;
   font-size: 90%;
   text-align: center;

}

.portfolio-pages-sets {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
}

.portfolio-pages-sets img{
   max-width: 30vw;
}

@media all and (max-width: 500px){
   .menu {
      flex-direction: column;
      margin-bottom: 20%;
   }

   .menu-button{
      padding-top: 2vh;
      
   }

   .menu-button-content {
      display: grid;
      grid-template-columns: 25vw 25vw;
      grid-template-rows: 1fr 1fr;
      font-style: italic;
      font-size: medium;
      align-content: space-around;
      justify-content: space-between;
   }
   
   .slogan {
      font-size: 100%;
      align-content: flex-end;
      bottom: 15px;
      position: absolute;
   }
   
   .sloganimg {
      max-width: 90vw;
   }
   
   .bio {
      display: flex;
      flex-direction: column;
      justify-content: end;
      align-items: center;
      padding: 0;
   }

   .bio-img {
      max-width: 50vw;
   }

   .slide-menu {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      align-content: center;
      justify-content: space-around;
   }

   .slide-container{
      position: relative;
      align-items: center;
   }

   .slide-title {
      font-size: 100%;
      padding: 20%;
      justify-content: center;
   }

   .slide-pic {
      max-width: 40vw;
   }
}
